<!DOCTYPE html>
<html>
<title>Booking Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<!-- <%- include ('./partials/nav') %> -->
    <div class="w3-container">
        <h2>Booking Details</h2>

        <table class="w3-table-all w3-hoverable ">
            <thead>
                <tr class="w3-red">
                    <th>CheckIn</th>
                    <th>CheckOut</th>
                    <th>Adults</th>
                    <th>Kids</th>
                </tr>
            </thead>
            <% Booking.forEach((Book)=>{ %>
            <tr>
                <td><%= Book.CheckIn %></td>
                <td><%= Book.CheckOut %></td>
                <td><%= Book.Adults %></td>
                <td><%= Book.Kids %></td>
            </tr>
            <% }) %>
        </table>
    </div>

</body>

</html>